# basics
- variables
- operators
- datatypes
- input/output

In [24]:
x = 3
a , b = 10, 11
c = a + b

In [25]:
l = 5
b = 10
area =  l * b

In [26]:
page_size = 10

In [27]:
a = 1000

In [28]:
a = "hello"

In [29]:
a = 1.2345

In [30]:
del area

### operators
- assignment
- arithmetic
- comparison
- logical
- membership
- identity

In [31]:
# assignment = += -= *= /= etc
x = 10
x += 5
x -= 2
x *= 3

In [32]:
# arithmetic + - * / % ** //
a = 10
b = 3

In [33]:
a+b

13

In [34]:
a-b

7

In [35]:
a/b

3.3333333333333335

In [36]:
print(a // b) # integer division
print(a % b)  # remainder (modulo)
print(a ** b) # exponentiation

3
1
1000

In [37]:
# comparison < > >= <= == !=
x = 120
y = 290
print(x > y) # gt
print(x < y) # lt
print(x >= 100) # gte 
print(x <= 100) # lte 
print(x == 100) # equality
print(x != 100) # inequality

False
True
True
False
False
True

In [38]:
# logical -> and or not
print(x > 10 and y > 50)
print(x > 10 and y < 50)
print(x > 10 or y < 50)
print(x < 10 or y < 50)
print(not x > 5) # invert the result
print(not x < 5)

True
False
True
False
False
True

In [39]:
# memebership -> in, not in
x = [1,2,3,4,5,6,7]
print(5 in x)
print(10 in x)
print(3 not in x)
print(10 not in x)

True
False
False
True

In [40]:
# identity -> is, is not
a = [1,2,3,4]
b = a           # copy the reference
c = [1,2,3,4]
print(a is b)
print(a is c)
print(b is c)

True
False
False

# datatypes
- int (integer)
- float  (real number)
- bool (boolean)
- str (String or text)
- NoneType (None)
- list
- tuple
- set
- dict (dictionary)

In [42]:
num = 5                     # integer
name = "zaid kamil"         # str
pi = 3.14159                # float
sleepy = True               # bool
data = None                 # nonetype
a_list = [1,2,3,4,5]        # list
a_tuple = (1,2,3,4,5)       # tuple
a_set = {1,2,3,4,5}         # set
a_dict = {'a':10, 'b':20}   # dict

In [43]:
print(type(num))
print(type(name))

<class 'int'>
<class 'str'>