In [124]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [125]:
df = pd.read_excel("datasets/Canada.xlsx", 
    sheet_name=1,
    skiprows=20,
    skipfooter=2,
)

In [126]:
# set pandas to display all columns (optional)
pd.set_option('display.max_columns', None)

In [ ]:
df.head() # first 5 rows

In [ ]:
df.tail() # last 5 rows

check for null values

In [ ]:
df.isnull().sum()

Data in Dataframe can be of 
- Numeric Type
- Categorical Type (Repeating values either numeric or string)
- Unique Values only
- Only 1 value
- Date Type
- Boolean Type

DataTypes in Dataframe

` int, float, object, bool, datetime64, timedelta64`

T

In [ ]:
df.info()

In [ ]:
df.iloc[100:120] # rows 100 : 120

In [ ]:
df.sample(10) # random 10 rows

seperating data

In [ ]:
df.select_dtypes(include='number')

In [ ]:
df.select_dtypes(include='object')

In [ ]:
df.select_dtypes(include='object').nunique()

In [ ]:
for col in df.select_dtypes(include='object'):
    print(f"{col}: {df[col].unique()}")

In [ ]:
df['Coverage'].value_counts()

In [138]:
cols_to_drop = ['Type', 'Coverage' ,'AREA', 'REG', 'DEV']
df = df.drop(columns=cols_to_drop)

rename columns

In [139]:
df = df.rename(columns={
    'OdName': 'country',
    'AreaName' : 'continent',
    'RegName' : 'region',
    'DevName' : 'status',
})

sort data

In [ ]:
df.sort_values(by=2013, ascending=False) # descending

In [ ]:
df.sort_values(by='continent') # default ascending

add column

In [ ]:
years = range(1980, 2014)
df[years].sum(axis=1)  # horizontal sum

In [143]:
df['total'] = df[years].sum(axis=1)

replacing value

In [ ]:
df['status'] = df['status'].replace('Developing regions', False)
df['status'] = df['status'].replace('Developed regions', True)
df = df.rename(columns={'status': 'developed'})

saving the processed data

In [145]:
df.to_csv('datasets/canada_clean.csv', index=False)

# EDA (Exploratory Data Analysis) + Visualization

In [ ]:
df['developed'].value_counts()

In [ ]:
df['developed'].value_counts().plot(kind='pie', autopct='%.1f%%')

In [ ]:
sns.countplot(data=df, x='developed')

In [ ]:
df['developed'].value_counts().plot(kind='bar', backend='plotly')

In [ ]:
df.sort_values(by='total', ascending=False).head(10)[['country','total']]

creating a subset

In [151]:
top10 = df.sort_values(
    by='total',
    ascending=False
).head(10)[['country','total']].copy()

- `Task 1`: Change the United Kingdom to UK in the Country column
- `Task 2`: Change Iran( Islamic Republic of) to Iran in the Country column
- `Task 3`: Create a bar chart for this

In [ ]:
top10.country.tolist()

In [ ]:
# task 1 and task 2 and Bonus
top10 = top10.replace('United Kingdom of Great Britain and Northern Ireland', 'UK')
top10 = top10.replace('Iran (Islamic Republic of)', 'Iran')
top10 = top10.replace("United States of America", "USA")
top10

In [ ]:
sns.barplot(data=top10, hue='country', y='country', x='total', 
            palette='rainbow', legend=False, orient='h')

#### Analayse the data from only last 5 years and show the visualization in area, bar

In [ ]:
last_5_year =df[['country',2009,2010,2011,2012,2013]].copy()
last_5_year = last_5_year.set_index('country')
last_5_year.sort_values(by=2009, 
    ascending=False).head(20).plot.bar(
        figsize=(15,5), stacked=True)

In [ ]:
last_5_year =df[['country',2009,2010,2011,2012,2013]].copy()
last_5_year = last_5_year.set_index('country')
last_5_year.sort_values(by=2009, 
    ascending=False).head(20).plot.area(
        figsize=(15,5), stacked=True, rot=90
    )

In [ ]:
country = df[['country']+list(years)].copy().set_index('country')
country

In [ ]:
cmean = country.loc['Japan'].mean()
ax = country.loc['Japan'].plot(marker='o', figsize=(15,5))
ax.hlines(y=cmean, xmin=0, xmax=33, color='r', linestyles='--')
ax.text(0, cmean+25, f'Avg Immigration = {cmean:.0f}/year', color='k')

In [ ]:
country.loc[['Japan','France']].T.plot(figsize=(15,5))

In [ ]:
country.loc[['Japan','France']].T.plot(figsize=(15,5), kind='bar')

In [ ]:
country.loc[['Japan','France']].T.plot(
    kind='area', backend='plotly'
)

grouping data

In [ ]:
df.groupby('developed')['total'].sum()

In [ ]:
df.groupby('continent')['total'].sum()

In [164]:
continents = df.groupby('continent')[list(years)].sum()

In [ ]:
names = ["Asia", "Europe"]
continents.loc[names].T.plot(backend='plotly')