In [ ]:
import pandas as pd

Install this support library:
- openpyxl: `pip install openpyxl`

In [ ]:
df = pd.read_excel("datasets/book_one.xlsx", 
    header=None, 
    names=['#','col1','col2','col3','col4'],
    index_col=0,
)

In [ ]:
df # dataframe

In [ ]:
df['col1'] # series

In [ ]:
# df[['col1']] # dataframe

In [ ]:
df[['col1', 'col3']] # dataframe

In [ ]:
df.iloc[0] # row 0

In [ ]:
print(df['col1'].sum()) # sum of col1
print(df['col2'].mean()) # mean of col2
print(df['col3'].max()) # max of col3

In [ ]:
df.col1.plot(kind='kde')

In [ ]:
df.plot(kind='line')

passing your manual data dictionary to pandas

In [ ]:
data = {
    "country": ["Brazil", "Russia", "India", "China", "South Africa"],
    "population": [200.4, 143.5, 1252, 1357, 52.98],
    "gdp": [1.86, 1.3, 2.6, 11.4, 0.29],
    "area": [8515767, 17098242, 3287590, 9596961, 1221037]
}

cdf = pd.DataFrame(data)
cdf

In [ ]:
cdf.plot(kind='bar', x='country', y='population', figsize=(6, 4))

In [ ]:
cdf.plot(kind='bar', x='country', y='population', logy=True)

In [ ]:
cdf.plot(kind='bar', x='country', y='population', logy=True,
        color='green', 
        alpha=0.5, 
        hatch='//', 
        edgecolor='white')

In [ ]:
cdf.columns.tolist()

Pandas Dataframe manipulation
- rename columns
- replace values
- add new columns
- remove columns
- drop duplicates
- drop rows with missing values
- creating subsets
- merging dataframes

In [ ]:
import numpy as np
df = pd.DataFrame({
    'Rank': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'country name': ["India", "United States", "Indonesia", "Pakistan", 
        "Brazil", "Nigeria", "Bangladesh", "Russia", "Mexico", "Japan"],
    'currency': ['INR', 'USD',np.nan, np.nan, np.nan,
        np.nan, np.nan, np.nan, np.nan, np.nan],
})
df

In [ ]:
df = df.rename(
    columns={
        'Rank': 'rank',
        'country name': 'country',
    }
)

In [ ]:
# updating a particular cell value
df.iloc[9] = df.iloc[9].replace(np.nan, "YEN")

In [ ]:
# adding a column
df['colx'] = 10   # constant value

In [ ]:
values = [132,53,61,12,31,25,37,53,621,25]
df['coly'] = values # list of values
df

In [ ]:
# adding a column based on operation on other columns
df['colz'] = df['colx'] * df['coly']
df

In [ ]:
# updating a column values based on operation
df['coly'] = df['coly'].apply(lambda x: x%10)
df

In [ ]:
df.columns

In [ ]:
# remove a column
df = df.drop(columns=['colx'])
df

In [ ]:
df.drop_duplicates(subset=['coly'])

In [ ]:
df.dropna()

In [ ]:
adf = pd.DataFrame({
    'A': [1,2,3,4],
    'B': [5,6,7,8]
})
bdf = pd.DataFrame({
    'C': [2,3,5,1],
    'D': [6,7,8,9]  
})
cdf = pd.DataFrame({
    'A': [5,6,7,8],
    'B': [9,10,11,12]
})

In [ ]:
# merge two dataframes
pd.concat([adf, bdf], axis=1) # column wise

In [ ]:
pd.concat([adf, cdf]) # row wise